@import "event";
@import "tag";

HTML, BODY {
  margin: 0;
  padding: 0;
  background: lighten(#e4ea8c, 25%);
  font-family: "Libre Franklin", "helvetica neue", "helvetica", "arial", "sans-serif";
  font-size: 16px;
  line-height: 20px;
  color: #1F1818;
  height: 100%;
}

.SiteHeader {
  padding-bottom: 20px;
  margin: 0 0 20px 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  font-size: 40px;
  font-weight: 800;
  line-height: 35px;
  color: #3f6c45;
}

.Program {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Filters {
  flex-grow: 0;
  flex-shrink: 0;
  width: 350px;
  box-sizing: border-box;
  padding: 40px 20px;
  background: #374552;
  height: 100%;
  overflow: auto;
}

.EventList {
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  padding: 40px;
  height: 100%;
  overflow: scroll;
}

.FilterGroup {
  margin: 0 0 20px 0;
}

.FilterGroupTitle {
  font-size: 20px;
  font-weight: bold;
  color: #E4EA8C;
  margin: 0 0 10px 0;
}
