.Tag {
  display: inline-block;
  margin: 0 2px 5px 0;

  input {
    display: none;
  }

  label {
    display: block;
    background: none;
    color: rgba(255, 255, 255,.7);
    border: 1px solid rgba(255, 255, 255, .1);
    padding: 0 8px;
    border-radius: 2px;
    line-height: 28px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, .2);
    }
  }

  input:checked + label {
    background: #e4ea8c;
    color: #3f6c45;
  }

}
