.Tag {
  display: inline-block;
  margin: 0 0 7px 0;

  input {
    display: none;
  }

  label {
    display: block;
    background: none;
    color: rgba(0,0,0,.4);
    border: 1px solid #e4ea8c;
    padding: 0 11px;
    border-radius: 15px;
    line-height: 28px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background: lighten(#e4ea8c, 15%);
    }
  }

  input:checked + label {
    background: #e4ea8c;
    color: #3f6c45;
  }

}
